body 		{background-color: #e6e6e6;}
#bucket 	{margin-left: 15%;}
#buttonContainer{width: 24em;}
#final  	{clear: both;}
h2 		{font-size: 450%;}
h2, h3, h4 	{text-align: center;}
.link 		{text-decoration: underline;}
#newGame2	{margin-left: 38%;}
.notEmpty 	{color: black;}
.sPlus 		{background-color: red;}
p 		
{
	color: white;
	padding-top: 13rem;
}

#avDiv
{
	position: fixed;
	top: 1vh;
	right: 1vw;
}

img
{
	width: 4rem;
}

#chat div
{
	float: left;
}

#chat input
{
	width: 70%;
}

select
{
	clear: both;
}

#chat
{
	position: fixed;
	top: 1vh;
	left: 1vw;
	width: 28vw;
}

#board
{
	margin-bottom: 3rem;
	float: left;
}

#messageDiv p
{
	color: black;
	margin: 0;
	padding: 0;
}

.stats
{
	float:left;
	margin: 0 5%;
	font-size: 70%;
}
.stats th
{
	font-weight: bold;
	color: blue;
	text-align: center;
	font-size: 250%;
}

.stats td
{
	width: auto;
	height: auto;
	background-color: 3b3b3b;
	color: green;
	border-radius: 0;
	font-size: 190%;
}

td
{
	text-align: center;
	border: 1px solid black;
	height: 6rem;
	width: 6rem;
	border-radius: 30px;
	background-color: #a0a0a0;
	font-size: 300%;
	font-family: times new roman;
}

table
{
	margin: auto;
	border: 1px solid black;
	border-collapse: separate;
	background-color: #000000;
}

.empty
{
	background-color: white;
	color: white;
}

.score
{
	background-color: #333333;
	color: white;
	text-align: center;
	height: 1em;
	width: 2em;
	font-weight: bold;
	border-radius: 0px;
	padding: 0;
}

#SB
{
	width: 25%;
	margin: auto;
	margin-bottom: 1em;
	text-align: center;
	clear: left;
}

.bc
{
	width: 15em;
   	margin: auto;
	display: block;
	height: 3em;
}

.link:hover
{
	cursor:grab;
	color: rgb(104, 198, 226);
}

#login
{
    	color: white;
    	margin-bottom: 1vw;
    	clear: left;
	font-size: 60%;
}
button
{
	margin: auto;
	margin: .5rem;
    	float: left;
}

#gameOver
{
	text-align: center;
	background-color: rgba(1, 14, 35, .5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#goCont
{
	background-color: black;
	height: 35rem;
	width: 30vw;
	margin: auto;
	margin-top: 20rem;
}

#registerDiv
{
	text-align: center;
	background-color: black;
	z-index: -1;
	position: fixed;
	top: 30vh;
	left: 34vw;
	visibility: hidden;
}

#cont
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.log td
{
	background-color: black;
	color: white;
	height: 2em;
}
