body {background-color: #e6e6e6;}
.notEmpty {color: black;}
h2, h3, h4 {text-align: center;}
.sPlus {background-color: red;}
h2
{
    font-size: 450%;
}
#board
{
    margin-bottom: 3rem;
}
td
{
	text-align: center;
	border: 1px solid black;
	height: 6rem;
	width: 6rem;
	border-radius: 30px;
	background-color: #a0a0a0;
	font-size: 300%;
	font-family: times new roman;
}
table
{
	margin: auto;
	border: 1px solid black;
	border-collapse: separate;
	background-color: #000000;
}
.empty
{
	background-color: white;
	color: white;
}
.score
{
	background-color: #333333;
	color: white;
	text-align: center;
	height: 1em;
	width: 2em;
	font-weight: bold;
	border-radius: 0px;
	padding: 0;
}
#SB
{
	width: 25%;
	margin: auto;
	margin-bottom: 1em;
	text-align: center;
	clear: left;
}
p
{
    color: white;
}
#buttonContainer
{
    width: 22em;
    margin: auto;
	display: block;
	height: 3em;
	padding-left: 2%;
}

#login
{
    color: white;
    margin-bottom: 1vw;
    clear: left;
}
button
{
	margin: auto;
	margin: .5rem;
    float:left;
}
#gameOver
{
	text-align: center;
	background-color: rgba(1, 14, 35, .5);
	width: 28rem;
	margin-left: 38vw;
	margin-top: 30vh;
	height: 28rem;
	visibility: hidden;
}
#registerDiv
{
	text-align: center;
	background-color: rgba(1, 14, 35, .5);
	z-index: -1;
	position: fixed;
	top: 30vh;
	left: 34vw;
	visibility: hidden;
}
#cont
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.log td
{
	background-color: black;
	color: white;
	height: 2em;
}

.log
{
	width: 25vw;
	font-size: 75%
}
